<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>eshop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>sk.marek.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Guard</display-name>
    <servlet-name>Guard</servlet-name>
    <servlet-class>sk.marek.Guard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Guard</servlet-name>
    <url-pattern>/Guard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KosikServlet</display-name>
    <servlet-name>KosikServlet</servlet-name>
    <servlet-class>sk.marek.KosikServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KosikServlet</servlet-name>
    <url-pattern>/KosikServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>sk.marek.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZoznamObjednavok</display-name>
    <servlet-name>ZoznamObjednavok</servlet-name>
    <servlet-class>sk.marek.ZoznamObjednavok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZoznamObjednavok</servlet-name>
    <url-pattern>/ZoznamObjednavok</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailObjednavky</display-name>
    <servlet-name>DetailObjednavky</servlet-name>
    <servlet-class>sk.marek.DetailObjednavky</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailObjednavky</servlet-name>
    <url-pattern>/DetailObjednavky</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminZoznamObjednavok</display-name>
    <servlet-name>AdminZoznamObjednavok</servlet-name>
    <servlet-class>sk.marek.AdminZoznamObjednavok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminZoznamObjednavok</servlet-name>
    <url-pattern>/AdminZoznamObjednavok</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailProduktu</display-name>
    <servlet-name>DetailProduktu</servlet-name>
    <servlet-class>sk.marek.DetailProduktu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailProduktu</servlet-name>
    <url-pattern>/DetailProduktu</url-pattern>
  </servlet-mapping>
</web-app>